/* You can add global styles to this file, and also import other style files */

// after modifying the app.component.html we will add some styles here which can be used as Global style components 

// firstly import a pre build theme available in angular material components 
// colors available here are primary color, excent and warning colors, and you can also build your own angular material theme
// here we will import the prebuild theme called deep purple  

@import '~@angular/material/prebuilt-themes/indigo-pink'; // check and you can select any theme form the particular folder

// now we will specify some Global style variables for the body content of index.html page 

body{
    padding : 0;
    margin : 0;
    font-family : Roboto, sans-serif;
}

// container class is defined here for the conatiners
.container {
    margin: 20px;
    display: flex;
}